* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1d2229;
  height: 100vh;
}

main {
  width: 600px;
  height: 100%;
  padding: 50px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camp {
  font-size: 15pt;
  color: #fff;
}

.camp input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.add {
  width: 100px;
  border: none;
  padding: 10px;
  margin: 10px;
  color: #fff;

  transition: background 0.2s;
  background: #13a006;
}

.add:hover {
  background: #15ff00;
}

.remove {
  width: 100px;
  border: none;
  padding: 10px;
  margin: 10px;
  color: #fff;

  transition: background 0.2s;
  background: #c7140e;
}

.remove:hover {
  background: #ff0800;
}
