#menuv {
  width: 200px; /* Set a width if you like */
  overflow-y: auto;	/* inclui uma barra de rolaegm quando ultrapassar
   o limite de height: 400px;	
}*/
  height: 300px;	
  margin: 15px;
}

#menuv a {
  background-color:dimgray; /* Grey background color */
  color:white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-size:20px;
}

#menuv a:hover {
background-color: #ccc; /* Dark grey background on mouse-over */
color:dimgray;
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;

}