* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

li {
  list-style: none;
}

main {
  flex: 1;
  display: flex;
}

header {
  background-color: #111111;
  padding: 24px;
  display: flex;
}

header nav {
  display: flex;
  flex-grow: 1;
}

header ul {
  display: flex;
  margin: 0 auto;
}

header li {
  display: flex;
  margin: 0 8px;
}

.left-block,
.center-block,
.right-block {
  flex: 1;
  padding: 32px;
}

.left-block nav {
  background-color: #333333;
  text-align: center;
}

.left-block li {
  padding: 24px;
}

.center-block {
  background-color: orange;
}

.center-block h2 {
  text-align: center;
  margin-bottom: 8px;
}

.center-block form {
  max-width: 250px;
  margin: 0 auto;
}

.center-block input {
  margin-bottom: 4px;
  min-width: 100%;
}

.center-block button {
  width: 100%;
  padding: 1em 2em;
  background: orangered;
  border: 1px solid white;
  border-radius: 6px;
}

.right-block {
  background-image: url('https://images.unsplash.com/photo-1600196302476-1790ba2334f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

footer {
  color: white;
  background-color: #111111;
  padding: 24px;
}

footer p {
  text-align: center;
}
